<form role="form" class="form-horizontal">
    <h2>Image Measure</h2>
    <div class="form-group">
        <label class="col-sm-3 control-label">Police Station:</label>
        <div class="col-sm-5">
            <select class="form-control" ng-model="upload.police_Station" ng-selected="upload.police_Station">
                <option ng-repeat="option in policeStations" value="{{option.police_Station}}">{{option.police_Station}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Measure Type:</label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="upload.measureType" ng-options="x for x in measureTypes" ng-change="getdIndexes()"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Index:</label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="upload.index" ng-selected="upload.index">
                <option ng-repeat="option in indexes" value="{{option.id}}">{{option.name}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <input type="text" ng-model="id" style="display: none;"/>
            <input type="file" fileinput="file" filepreview="filepreview" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <img ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9 control-label"></div>
        <div class="col-sm-3">
            <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="uploadFile()"
                    ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                Upload
            </button>
        </div>
    </div>
</form>
